
<sly data-sly-use.model="com.aem.training.site.core.models.FooterModel" >
    <div id="page">
        <div id="footer">
            <div>
                <div class="connect">
                    <a href="${properties.facebook}" class="facebook">facebook</a>
                    <a href="${properties.twitter}" class="twitter">twitter</a>
                    <a href="${properties.google}" class="googleplus">googleplus</a>
                    <a href="${properties.pinterest}" class="pinterest">pinterest</a>
                </div>
                <p>${properties.copy}</p>
            </div>
        </div>
    </div></sly>